APP_ENV=
DEMO_MODE=
ALLOW_ALL_ORIGINS=
ALLOWED_APP_ORIGINS=
SOLANA_RPC_URL=
TOKEN_MINT_ADDRESS=
WALLET_SESSION_TTL_SECONDS=
VITE_SUPABASE_PROJECT_ID=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_WALLET_MODE=
